body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sessao{
    display: flex;
    justify-content: center;
    margin: 6% 0;
}

.container{
    width: 24%;
    /* height: 90%; */
    border: solid 1px #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container:hover{
    box-shadow: 5px 5px #000;
}
.container form{
    width: 83%;
}

.item {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.item input{
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.item button{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(78, 163, 92);
    color: #fff;
    box-shadow: 5px 5px #000;
   
}
.item:last-child{
   align-items: center;
   display: flex;
   margin-top: 10px;
}