<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/fonts.css">
    <title>Cadastro de Animais</title>
</head>

<body>
    <!------------------------------MENU------------------------------->
    <div class="navbar">
        <div class="conteudomenu">
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav class="menu">
                <ul>
                    <li><a class="item-menu" href="users">Usuários</a></li>
                    <li><a class="item-menu" href="cadastroAnimais">Animais</a></li>
                    <li><a  class="item-menu" href="listaInteressados">Interessados</a></li>
                </ul>
            </nav>
        </div>
    </div>
 <!------------------------------LISTA ANIMAIS------------------------------->
    <section class="container">
    <h1 class="page-title">Lista de Animais</h1>
    <div class="addAni">    <button id="btnAbrir">Adicionar Animal</button></div>
    <h2 class="section-title" style="display: none;">Lista de Animais</h2>
    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Porte</th>
                <th>Idade</th>
                <th>Descrição</th>
                <th>Castrado</th>
                <th>Vacinado</th>
                <th>Ações</th><!-- Coluna para ações -->
            </tr>
        </thead>
        <tbody id="listaAnimais"></tbody>
    </table>
<!-------------------------EDIÇÃO ANIMAIS------------------------------->
    <div id="formularioEdicao" style="display: none;">
        <input type="hidden" id="animalId">
        <div class="conteudoForm">
            <h2>Editar Animal</h2>
        <div class="form-grouqp">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" placeholder="Nome do Animal">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" placeholder="Tipo do Animal">
        </div>
        <div class="form-group">
            <label for="porte">Porte:</label>
        <input type="text" id="porte" placeholder="Porte do Animal">
    </div>
    <div class="form-group">
        <label for="idade">Idade:</label>
        <input type="text" id="idade" placeholder="Idade do Animal">
    </div>
    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" placeholder="Descrição do Animal">
    </div>
    <div class="form-group">
        <label for="castrado">Castrado</label>
        <input type="checkbox" id="castrado" value="sim">
    </div>
    <div class="form-group">
        <label for="vacinado">Vacinado</label>
        <input type="checkbox" id="vacinado" value="sim">
    </div>
        <button id="botaoSalvar">Salvar</button>
    </div>
    </div>
<!---------------------ADICIONAR ANIMAIS--------------------------->
    <div id="popup" style="display: none;">
        <form id="formAddAnimais" class="formulario conteudoForm" method="POST" action="/upload" enctype="multipart/form-data">
            <h2 class="section-title">Novo Animal</h2>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nomeAdd" class="form-input" placeholder="Digite o nome do animal...">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select name="tipo" id="tipoAdd" class="form-input" required>
                    <option id="gato">Gato</option>
                    <option id="cachorro">Cachorro</option>
                    <option id="outros">Outros</option>
                </select>
            </div>
            <div class="form-group">
                <label for="porte">Porte:</label>
                <select type="text" id="porteAdd" class="form-input" required>
                    <option id="pequeno">Pequeno</option>
                    <option id="medio">Médio</option>
                    <option id="grande">Grande</option>
                </select>
            </div>
            <div class="form-group">
                <label for="idade">Idade:</label>
                <input type="number" id="idadeAdd" class="form-input" placeholder="Informe a idade do animal...">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea name="descricao" id="descricaoAdd"  cols="30" rows="10" placeholder="Faça uma descrição do animal..."></textarea>
            </div>
            <div class="form-group radio">
                <label for="castrado">Castrado:</label>
                <input type="radio"  value="sim Cadastrado" name="castrado" id="castrado" class="form-input">Sim
                <input type="radio"  value="nao Cadastrado" name="castrado" id="castrado" class="form-input">Não
            </div>
            <div class="form-group radio">
                <label for="vacinado">Vacinado:</label>
                    <input type="radio" value="sim Vacinado" name="vacinado" id="vacinado" class="form-input"
                        step="0.01">Sim
                    <input type="radio" value="nao Vacinado" name="vacinado" id="vacinado" class="form-input"
                        step="0.01">Não
            </div>
            <div class="form-group">
                <input type="file" multiple="multiple" name="file" id="file1"/>
                <input type="submit" class="input-file-button" id="addImgs" value="Enviar" />
            </div>
            
            <div class="form-group">
                <button type="button" id="addAnimais" class="flat-button">Adicionar Animal</button>
            </div>
        </form> 
    </div>
    <script src="/js/cadastroAnimal.js"></script>
    <script>
        // Verifica se já visitou a página
        if (localStorage.getItem('visited') === 'true') {
          // Exibe a mensagem ao voltar
          popup.style.display='flex'; //substituir pelo exebir popup o flex no caso
        }
    
        // Marca a página como visitada
        localStorage.setItem('visited', 'false');
      </script>
</section>
</body>

</html>
