<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/detalhesAnimais.css">
    <title>Detalhes</title>
</head>
<body>
    <div class="menu">
        <div class="logo">
            <img src="" alt="logo do site">
        </div>
        <nav class="conteudo-menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Animais</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </div>

    <section class="container">
        <div class="card">
            <div class="imgs"><img src="" alt="imagem do animal"></div>
       
            <div class="infos">
                <h3>Nome do Animal</h3>
                <p>Tipo do animal:</p>
                <p>Idade do animal:</p>
                <p>Vacinado:</p>
                <p>Castrado:</p>
                <p>Descrição:</p>
                <div class="btn-adotar">
                    <button id="abrirFormInteresse">Adotar</button>
                </div>
            </div>
           
    </div>
    </section>

<div id="formpopup " style="display: none;">
    <form action="" id="formInteresse" >
        <h2>Ficou interessado?</h2>
        <p>Preencha o formulário abaixo</p>
    </form>
</div>
    <script src="../static/js/interesse.js"></script>
   
</body>
</html>