<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/formInteresse.css">
    <title>Document</title>
</head>
<body>
   
<section class="sessao">
    <section class="container">
        <h1>Preencha seus Dados</h1>
        <form action="" id="formAddInteresse">
            <div class="item">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" placeholder="Digite seu nome...">
            </div>
            <div class="item">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Digite seu email...">
            </div>
            <div class="item">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" placeholder="Digite seu telefone...">
            </div>
            <div class="item">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" placeholder="Digite seu cpf...">
            </div>
            <div class="item">
                <label for="data">Data de Nascimento:</label>
                <input type="date" id="data">
            </div>
            <div class="item">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" placeholder="Digite seu cep...">
            </div>
            <div class="item">
                <label for="msg">Mensagem:</label>
                <input type="text" id="msg" placeholder="Digite sua mensagem...">
            </div>
            <div class="item">
                <button id="addInteresse">Enviar</button>
            </div>

        </form>
    </section>
</section>
    <style>
        
    </style>
</body>
</html>