<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/formInteresse.css">
    <title>Document</title>
</head>
<body>
   
<section class="sessao">
    <section class="container">
        <h1>Preencha seus Dados</h1>
        <form action="">
            <div class="item">
                <label for="">Nome:</label>
                <input type="text" placeholder="Digite seu nome...">
            </div>
            <div class="item">
                <label for="">Email:</label>
                <input type="email" placeholder="Digite seu email...">
            </div>
            <div class="item">
                <label for="">Telefone:</label>
                <input type="text" placeholder="Digite seu telefone...">
            </div>
            <div class="item">
                <label for="">CPF:</label>
                <input type="text" placeholder="Digite seu cpf...">
            </div>
            <div class="item">
                <label for="">Data de Nascimento:</label>
                <input type="date">
            </div>
            <div class="item">
                <label for="">CEP:</label>
                <input type="text" placeholder="Digite seu cep...">
            </div>
            <div class="item">
                <label for="">Mensagem:</label>
                <input type="text" placeholder="Digite sua mensagem...">
            </div>
            <div class="item">
                <button>Enviar</button>
            </div>

        </form>
    </section>
</section>
</body>
</html>