<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento de Animais </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="">
    <div class="container-card">
        <div class="">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Email e senha inválidos.</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Você foi desconectado.</div>
            </div>
            <div class="card-login">
                <div class="texto">
                    <h3 class="titulo">Seja Bem Vindo(a)!</h3>
                    <p>Faça seu login</p>
                </div>
                <div class="dados">
                    <form
                            method="post"
                            th:action="@{/login}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="inputs">
                            <label for="username" class="control-label">Email *</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Email"
                            />
                        </div>

                        <div class="inputs">
                            <label for="password" class="control-label">Senha *</label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Senha"
                            />
                        </div>

                        <div class="inputs">
                            <button type="submit" class="">Entrar</button>
                            <!--<span> Ainda não está registrado?
                            <a th:href="@{/register}"> Cadastre-se Aqui</a>
                        </span>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
